<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.tydaniel.mapper.BookMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="net.tydaniel.model.Book">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="author" property="author" />
		<result column="publishing" property="publishing" />
		<result column="classtype" property="classtype" />
		<result column="ISBN" property="isbn" />
		<result column="total" property="total" />
		<result column="borrowed" property="borrowed" />
	</resultMap>

</mapper>
